/* set the font size to 62.5% so 1rem=10px */
html {
    font-size: 62.5%;
    /* background-color: #DFDFDF;  */
    background: #e5e5e5;
}


/* Layout */

.alignleft {
  float: left;
}
.alignright {
  float: right;
}
body {
  font-family: Segoe UI;
  font-size: 1.4rem;
}
.header {
  background-color: #4a8baf;
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 2;
}

.title {
  font-weight: normal;
  color: white;
  font-size: 4.4rem;
}
.navbuttons {
  margin-left: 10%;
  min-width: 15%;
}

.nav-button {
  font-size: 2.2rem;
  color: white;
  text-decoration: none;
  padding: 2rem;
  border-radius: 1rem;
  transition: 0.3s;
  background-color: #3546a3;
}
.nav-button:hover {
  background-color: rgb(90, 91, 168);
}
.searchbar {
  display: flex;
  position: relative;
  top: -0.5rem;
}
.login {
  margin-right: 10%;
  display: flex;
  align-items: center;
  align-self: center;
  padding-bottom: 1rem;
}
.button {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  padding: 1rem;
  border-radius: 1rem;
  transition: 0.3s;
  background-color: #acacac;
}
.button:hover {
  background-color: #807f7f;
}
.greeting {
  align-self: center;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  color: white;
  font-size: 2.2rem;
}
@media screen and (max-width: 1400px) {
  .searchbar-bar {
    width: 10rem;
  }
  .title {
    font-size: 2.2rem;
  }
  .nav-button {
    font-size: 1.6rem;
    padding: 1rem;
  }
  .greeting {
    font-size: 1.4rem;
    margin-bottom: 0.1rem;
    margin-top: 1.5rem;
  }
  .button {
    font-size: 1.4rem;
  }
}


.content {
  margin-right: 10%;

  margin-bottom: 5rem;
  /* background-color: #DFDFDF; */
  position: relative;
  top: 10rem;
  z-index: 1;
  display: flex;
  flex-direction: row;
}
.pagetitle {
  font-size: 2rem;
  font-weight: 600;
  font-style: italic;
}
.flash-container {

  position: fixed;
  display: flex;
  margin-left: 20%;
  margin-right: 20%;
  width: 80%;
  z-index: 2;
}
.flashes {
  align-content: center;
  margin-top: 10rem;
  width: 50%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  padding: 1rem;
  background-color: rgb(221, 221, 221);
  border-radius: 1rem;
  border: #000000 1px solid;
  opacity: 1;
  transition: 0.3;
  margin-bottom: 0.5rem;
}
.close {
  font-weight: bold;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s;
}
.close:hover {
  color: white;
}
.socialimg {
  height: 3rem;
  margin-right: 1rem;
}
.footertxt {
  justify-self: end;
}

/* STAFF HOME */
.admin-main {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.Admin-home-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.admin-main .module-dropdown {
  border-radius: 1rem;
  height: 3rem;
  width: 15%;
  border: 1rem;
  font-size: 2rem;
}
.create-assessments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  white-space: normal;
}
.view-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  white-space: normal;
}
.admin-home-btn {
  margin-bottom: 1rem;
}
.view-assessments {
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  white-space: normal;
  background-color: #acacac;
  border-radius: 1rem;
}
.assessments-table,
th,
td {
  margin-left: 1rem;
  margin-right: 1rem;
  border: 1px solid black;
  border-collapse: collapse;
  background-color: rgb(235, 235, 235); 
}

.assessments-table{
  margin-bottom:1rem;
}

.create-questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  white-space: normal;
}

/* STUDENT HOME */

.module-sidebar {
  height: 100%;
  width: 10%;
  position: fixed;
  background-color: #9e9e9e;
  display: flex;
  flex-direction: column;
}

.progressbtn-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.student-home-main {
  margin-left: 10%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.active-assessments {
  background-color: #acacac;
  width: 90%;
  color: white;
  height: 100%;
  border-radius: 1rem;
}
.active-assessments-title-container {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}
.student-home-btn {
  background-color: #717171;
}
.formative-summative-container {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
  border-radius: 1rem;
}
.formative-summative {
  background-color: #717171;
  margin: left 2.5% right 2.5%;
  width: 40%;
  height: 100%;
  border-radius: 0.5rem;
  margin-bottom: 3rem;
  padding: 1%;
  color: white;
}

.feedback {
  background-color: #717171;
  margin: left 2.5% right 2.5%;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  margin-bottom: 3rem;
  padding: 1%;
  color: white;
}

/* HOME & POSTS */

.home-posts {
  margin-left: 5%;
  margin-right: 5%;
}
/* .hometitle {
    text-align: center;
    font-size: 2.5rem;
  } */

.posts-title {
  font-size: 2rem;
  font-weight: normal;
  text-decoration: none;
}
.author {
  font-size: 1.2rem;
}
.home-postimgcontainer {
  width: 100%;
  display: inline-flex;
  justify-content: flex-end;
}
.home-imglink {
  width: 15%;
  margin-right: 5rem;
}
.postimg {
  width: 100%;
  margin: 0;
  float: right;
}

/* FILL IN BLANK */
.mainbit {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.top-part {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.question-type-dropdown {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.question-maker-container {
  width: 100%;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
}
.question-maker {
  width: 100%;
}
.question-input {
  width: 100%;
  height: 3rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  padding: 1rem;
  margin-bottom: 2rem;
}
.question-label {
  font-size: 2rem;
  margin-left: 2rem;
}
.top-input-box {
  margin-left: 5%;
  margin-right: 5%;
}
.bottom-inputs {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
}
.answer-and-difficulty {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.module {
  margin-right: 2rem;
}
.module-input {
  width: 90%;
  height: 2rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  padding: 1rem;
  margin-bottom: 2rem;
}
.issummative {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
}
.module-and-formative {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.question-input {
  width: 100%;
  height: 3rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  padding: 1rem;
  margin-bottom: 2rem;
}
.checkbox {
  height: 2rem;
  width: 2rem;
}
.dropdown-menu-questions {
  font-size: 2rem;
  padding: 1rem;
  margin-left: 1.5rem;
  width: 20rem;
  font-size: 2rem;
  font-weight: 400;
}
.save-btn {
  float: right;
  height: 3rem;
  width: 50%;
  align-self: center;
  margin-bottom: 1rem;
  font-size: 2rem;
  border-radius: 1rem;
  outline: none;
  border: black 1px;
  transition: 0.3s;
  margin: 1rem;
  background-color: #ffffff;
}

.save-btn:hover {
  background-color: #aaaaaa;
}

 /* FILL EDIT PAGE */
.question-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.question-main {
  background-color: rgb(30, 255, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1rem;
  width: 80%;
  padding: 1rem;
}
.question-inner-container{
  margin-bottom:2rem;
}
/* login*/

.logintitle {
  font-size: 2rem;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 0;
}
.forms {
  display: flex;
  text-align: center;
  color: white;
  align-items: stretch;
  align-content: center;
  width: 100%;
  margin-right: 20%;
  margin-left: 20%;
  padding-bottom: 15%;
  padding-top: 10%;
}

.regform {
  padding-top: 0% !important;
  padding-bottom: 0;
  margin-bottom: 0;
}

.login-register-form-container {
  background-color: #4a8baf;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 10% 30% 15% 30%;
  margin-top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.login-register-form-label {
  font-size: 1.8rem;
  font-style: italic;
  padding-top: 1rem;
  margin-bottom: 0;
}

.login-register-form {
  outline: none !important;
  margin: 1rem;
  margin-top: 0;
  align-self: center;
  height: 3rem;
  width: 80%;
  border-radius: 1rem;
}

/* Loading for successful logout */

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 30%;
  margin-right: 30%;
}
.loadingtitle {
  font-size: 3rem;
  font-weight: 600;
  font-style: italic;
}
.loading {
  border: 1.6rem solid lightblue;
  border-top: 1.6rem solid blue;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  animation: spin 2s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Create Formative & Summative */

.content .admin-create-formative{
  background-color:#e5e5e5;
}

.admin-create-formative {
  width: 100%;
}

.hiddenType{
  display:none;
}
.hiddenModule{
  display:none;
}

.hidden {
  display:none;
}

.admin-create-summative {
  width: 100%;
}

.Top-dropdown {
  display: inline-flex;
  font-size:1rem;
  max-height:auto;
}

.Top-dropdown .assessment-name-label{
  border-radius: 1rem;
  height: 3rem;
  border: 1rem;
  font-size: 2rem;
  margin: 1rem;
  padding-left:0.8rem;
}

.Top-dropdown .module-dropdown {
  border-radius: 1rem;
  height: 3rem;
  border: 1rem;
  font-size: 2rem;
  margin: 1rem;
}

.Top-dropdown .assessment-dropdown {
  border-radius: 1rem;
  height: 3rem;
  border: 1rem;
  font-size: 2rem;
  margin: 1rem;
}

#quiz-questions-container {
  background-color: #c4c4c4;
  border: 1rem;
  border-radius: 1rem;
}

.question-container-head {
  display: inline-flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#question-container-main {
  display: flex;
  justify-content: space-between;
}

.chosen-q {
  width: 40%;
  background-color: white;
  margin: 2rem;
  border-radius: 1rem;
}

.unchosen-q {
  width: 40%;
  background-color: white;
  margin: 2rem;
  border-radius: 1rem;
}

.move-button {
  display: grid;
  margin: 1rem;
  justify-content: space-around;
}

.move-button .button {
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  transition: 0.3s;
  background-color: white;
}

.question-preview-head {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.question-check-box {
  display: inline-flex;
  justify-content: space-between;
}

.question {
  display: grid;
  background-color: #c4c4c4;
  border-radius: 1rem;
  margin-top:10px;
  margin-bottom:10px;
}

.question *{
  margin:2px;
}

.question #top{
  display:flex;
  margin-top:5px;
}

#question-text{
  flex-grow:3;
}

.question-preview-head #type {
  display: inline-flex;
  justify-content: space-around;
}

.question h5 {
  background-color: white;
  font-weight: 400;
  font-size: 1.7rem;
  padding: 0.5rem;
  border-radius: 1rem;
}

#multiple-cont {
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
}

#fill-cont{
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
}

#fill-cont div{
  margin-bottom: 1rem;
  min-width: 20%;
  align-content: center;
}

#fill-cont #col2{
  align-self: center;
}

#multiple-cont div{
  margin-bottom: 1rem;
  min-width: 15%;
}

#top {
  margin-left: 1rem;
  margin-right: 1rem;
}


#col4 h5{
  min-height:80%;
}

.foot {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
}

#question-counter{
  margin-left:5px;
  font-size: 1.7rem;
  font-weight: 200;
  margin-top:0px;
  margin-bottom:0px;
  align-self: center;
}

.foot .button {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  transition: 0.3s;
}

.answer-input {
  width: 75%;
  height: 1rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  padding: 1rem;
  background-color: #e7e7e7;
}


.save-assess-btn {
  float: right;
  height: 3rem;
  width: 20%;
  align-self: center;
  margin-bottom: 1rem;
  font-size: 2rem;
  font: bold;
  border-radius: 1rem;
  outline: none;
  border: none;
  transition: 0.3s;
  margin: 1rem;
  background-color: #ffffff;
}

.save-assess-btn:hover {
  background-color: #aaaaaa;
}

/* The container */
.checkcontainer {
  display: inline-flex;
  position: absolute;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 15%;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: rgb(255, 255, 255);
}

/* On mouse-over, add a grey background color */
.checkcontainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkcontainer input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkcontainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkcontainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.content-section {
	background: #ffffff;
	padding: 10px 20px;
	border: 1px solid #dddddd;
	border-radius: 3px;
	margin-bottom: 20px;
}

.class-name-that-nobody-is-using{
      background-color: white;
      font-weight: 400;
      font-size: 1.7rem;
      padding: 0.5rem;
      border-radius: 1rem;

}




.issummative-delete {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    flex-direction: column;
}

.delete-assessment {
  display:flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #c4c4c4;
  border-radius: 1rem;
  margin-top:10px;
  margin-bottom:10px;
}

.delete-btn {
  float: center;
  height: 3rem;
  width: 80%;
  align-self: center;
  margin-bottom: 1rem;
  font-size: 2rem;
  border-radius: 1rem;
  outline: none;
  border: black 1px;
  transition: 0.3s;
  margin: 1rem;
  background-color: #ffffff;
}

.delete-btn:hover {
  background-color: #aaaaaa;
}


.feedback-title{
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  background-color: white;
  margin: 1rem;
  border-radius: 1rem;
}

.question-feedback {
  flex-direction: column;
  background-color: #c4c4c4;
  border-radius: 1rem;
  margin-top:2px;
  margin-bottom:2px;
  padding:1%;
  width:100%;
}

.feedback-elements {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: white;
  margin: 1rem;
  border-radius: 1rem;
}