/* set the font size to 62.5% so 1rem=10px */
html {
  font-size: 62.5%;
  /* background-color: #DFDFDF;  */
  background: #e5e5e5;
}

/* Layout */

.alignleft {
  float: left;
}
.alignright {
  float: right;
}
body {
  font-family: Segoe UI;
  font-size: 1.4rem;
}
.header {
  background-color: #4a8baf;
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: space-around;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 2;
}

.title {
  font-weight: normal;
  color: white;
  font-size: 4.4rem;
}
.navbuttons {
  margin-left: 10%;
  min-width: 15%;
}

.nav-button {
  font-size: 2.2rem;
  color: white;
  text-decoration: none;
  padding: 2rem;
  border-radius: 4rem;
  transition: 0.3s;
  background-color: #3546a3;
}
.nav-button:hover {
  background-color: rgb(90, 91, 168);
}
.searchbar {
  display: flex;
  position: relative;
  top: -0.5rem;
}
.login {
  margin-right: 10%;
  display: flex;
  align-items: center;
  align-self: center;
  padding-bottom: 1rem;
}
.button {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  padding: 2rem;
  border-radius: 4rem;
  transition: 0.3s;
  background-color: #acacac;
}
.button:hover {
  background-color: #807f7f;
}
.greeting {
  align-self: center;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  color: white;
  font-size: 2.2rem;
}
@media screen and (max-width: 1400px) {
  .searchbar-bar {
    width: 10rem;
  }
  .title {
    font-size: 2.2rem;
  }
  .nav-button {
    font-size: 1.6rem;
    padding: 1rem;
  }
  .greeting {
    font-size: 1.4rem;
    margin-bottom: 0.1rem;
    margin-top: 1.5rem;
  }
  .button {
    font-size: 1.4rem;
  }
}
.content {
  margin-right: 10%;

  margin-bottom: 5rem;
  /* background-color: #DFDFDF; */
  position: relative;
  top: 10rem;
  z-index: 1;
  display: flex;
  flex-direction:row;
}
.pagetitle {
  font-size: 2rem;
  font-weight: 600;
  font-style: italic;
}
.flash-container {
  margin-left: 10%;
  margin-right: 10%;
  position:fixed;

}
.flashes {
  margin-top: 5rem;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: darkgrey;
  border-radius: 3rem;
  opacity: 1;
  transition: 0.3;
  margin-bottom: 0.5rem;
}
.close {
  font-weight: bold;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s;
}
.close:hover {
  color: white;
}
.socialimg {
  height: 3rem;
  margin-right: 1rem;
}
.footertxt {
  justify-self: end;
}

/* STAFF HOME */
.admin-main{
  display: flex;
  flex-direction: column;
  width:100%;
}
.Admin-home-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.admin-main .module-dropdown {
  border-radius: 4rem;
  height: 3rem;
  width: 15%;
  border: 1rem;
  font-size: 2rem;
}
.create-assessments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  white-space: normal;
}
.view-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  white-space: normal;
}
.admin-home-btn {
  margin-bottom: 1rem;
}
.view-assessments {
  background-color: #acacac;
  border-radius: 1rem;
}
.assessments-table,
th,
td {
  margin-left: 1rem;
  margin-right: 1rem;
  border: 1px solid black;
  border-collapse: collapse;
}



/* STUDENT HOME */

.module-sidebar {
  height:100%;
  width:10%;
  position: fixed;
  background-color: #9e9e9e;
  display: flex;
  flex-direction: column;
}

.progressbtn-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;;
}
.student-home-main{
  margin-left: 10%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.active-assessments{
  background-color: #acacac;
  width: 90%;
  color: white;
  height:100%;
}
.active-assessments-title-container{
  margin:1rem;
  display: flex;
  justify-content: space-between;
}
.student-home-btn{
  background-color: #717171
}
.formative-summative-container{
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}
.formative-summative{
  background-color: #717171;
  margin: left 2.5% right 2.5%;
  width:40%;
  height: 100%;
}

/* HOME & POSTS */

.home-posts {
  margin-left: 5%;
  margin-right: 5%;
}
/* .hometitle {
  text-align: center;
  font-size: 2.5rem;
} */

.posts-title {
  font-size: 2rem;
  font-weight: normal;
  text-decoration: none;
}
.author {
  font-size: 1.2rem;
}
.home-postimgcontainer {
  width: 100%;
  display: inline-flex;
  justify-content: flex-end;
}
.home-imglink {
  width: 15%;
  margin-right: 5rem;
}
.postimg {
  width: 100%;
  margin: 0;
  float: right;
}

.likecontainer {
  float: right;
  margin: 1rem;
  margin-right: 5rem;
}
.like {
  font-weight: 600;
}
/*like buttons*/
.unlike {
  background-color: rgb(90, 91, 168) !important;
  transition: 0.3s;
}
.unlike:hover {
  background-color: #2b2f4e !important;
}
.likebtn {
  font-size: 1.4rem;
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0.5rem;
  border-radius: 4rem;
  background-color: #2b2f4e;
  transition: 0.3s;
}
.likebtn:hover {
  background-color: rgb(90, 91, 168);
}

/* ALL POSTS */
.posts {
  margin-left: 5%;
  margin-right: 5%;
}

.postimgcontainer {
  width: 100%;
  display: inline-flex;
  justify-content: flex-end;
}

.imglink {
  width: 25%;
  margin-right: 5rem;
}

/* INDIVIDUAL POST */

.indiv-post-img {
  width: 35%;
  margin: 0 0 0 1rem;
  float: right;
}

.comments-container {
  background-color: rgba(131, 141, 173, 0.397);
  padding: 2rem;
  padding-top: 1rem;
  border-radius: 1rem;
  width: 60%;
}

.comment-title {
  font-size: 1.4rem;
  font-weight: 600;
  font-style: italic;
}

.comment-content {
  font-size: 1.4rem;
}

/* login*/

.logintitle {
  font-size: 2rem;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 0;
}
.forms {
  display: flex;
  text-align: center;
  color: white;
  align-items: stretch;
  align-content: center;
  width: 100%;
  margin-right: 20%;
  margin-left: 20%;
  padding-bottom: 15%;
  padding-top: 10%;
}

.regform {
  padding-top: 0% !important;
  padding-bottom: 0;
  margin-bottom: 0;
}

.login-register-form-container {
  background-color: #4a8baf;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 10% 30% 15% 30%;
  margin-top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.login-register-form-label {
  font-size: 1.8rem;
  font-style: italic;
  padding-top: 1rem;
  margin-bottom: 0;
}

.login-register-form {
  outline: none !important;
  margin: 1rem;
  margin-top: 0;
  align-self: center;
  height: 3rem;
  width: 80%;
  border-radius: 1rem;
}

/* Loading for successful logout */

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 30%;
  margin-right: 30%;
}
.loadingtitle {
  font-size: 3rem;
  font-weight: 600;
  font-style: italic;
}
.loading {
  border: 1.6rem solid lightblue;
  border-top: 1.6rem solid blue;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  animation: spin 2s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Create Formative */
.admin-create-formative{
  width:100%;
}

.Top-dropdown{
  display:inline-flex;
}

.Top-dropdown .module-dropdown{
  border-radius: 4rem;
  height: 3rem;
  border: 1rem;
  font-size: 2rem;
}

.Top-dropdown .assessment-dropdown{
  border-radius: 4rem;
  height: 3rem;
  border: 1rem;
  font-size: 2rem;
}

#quiz-questions-container{
  background-color: #C4C4C4;
  border: 1rem;
  border-radius: 2rem;
}

.question-container-head{
  background-color: antiquewhite;
  display:inline-flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#question-container-main{
  background-color: #3546a3;
  display:flex;
  justify-content: space-between;
}

.chosen-q{
  width:40%;
  background-color: rgb(252, 177, 177);
  margin:1rem;
}

.unchosen-q{
  width:40%;
  background-color: rgb(252, 177, 177);
  margin:1rem;
}

.move-button{
  display:grid;
  margin:1rem;
  justify-content:space-around;
}

.move-button .button{
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  padding: 1rem;
  margin:1rem;
  border-radius: 4rem;
  transition: 0.3s;
  background-color: #acacac;
}

.question-preview-head{
  width:100%;
  display:inline-flex;
  justify-content: space-between;
}

.multiple-choice-question{
  display:grid;
  background-color: #3546a3;
  margin:2rem;
}

#cont{
  display:flex;
  justify-content:space-between;
}

#top{
  background-color: rgb(252, 177, 177);
}

#col1{
  background-color: #717171;
}

#col2{
  background-color: #acacac;
}

#col3{
  background-color: #717171;
}

#col4{
  background-color: #acacac;
}

.foot{
  display:flex;
  justify-content: flex-end;
}

.foot .button{
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  padding: 1rem;
  margin:1rem;
  border-radius: 4rem;
  transition: 0.3s;
}