{% extends "layout.html" %}
{% block content %}
<div class="admin-create-formative">

  <body onload='uncheck(), filter()'>
    <form class="question-maker-container" method="POST" action="">
      {{ form.csrf_token }}
      <div class="Top-dropdown">
        <select class=module-dropdown name="modules" id="moduleDropdown" onchange="filter()">
          <option value="Select Module">Select Module</option>
          {% for multiple in multiple_all %}
          <option value="{{multiple.module_code}}" class='modules'>{{multiple.module_code}}</option>
          {% endfor %}
        </select>
        {% for multiple in multiple_all %}
        <input type="text" id="{{multiple.module_code}}" class="hiddenModule" name="{{multiple.module_code}}"
          value="{{multiple.module_code}}">
        {% endfor %}

        <select class=assessment-dropdown name="assessments" id="assessmentDropdown" onchange="filter()">
          <option value="Select Type">Select Type</option>
          <option value="Formative" selected="selected">Formative</option>
          <option value="Summative">Summative</option>
        </select>
        <input type="text" id="Formative" class="hiddenType" name="Formative" value="Formative">
        <input type="text" id="Summative" class="hiddenType" name="Summative" value="Summative">
        <h1>Assessment Name</h1> {{form.assessment_name (class="assessment-name-label")}}
      </div>

      <div class="question-preview">
        {% for multiple in multiple_all %}
        <div class="assessment-question">
          <div class="question-preview-head">
            <div id="title">
              <h1>Multiple Choice Question {{ multiple.id }}</h1>
            </div>
          </div>

          <div class="question">
            <div id="top">
              <h3>Question</h3>
              <h5 id='question-text'>{{ multiple.question }}</h5>
              <h3>Question Type</h3>
              {% if multiple.is_summative == 1 %}
              <h5 id='question-type-text' class="question-type">Summative</h5>
              {% else %}
              <h5 id='question-type-text' class="question-type">Formative</h5>
              {% endif %}
            </div>

            <div id="multiple-cont">

              <div id="col1">
                <h3>Module</h3>
                <h5 class = "module-code">{{ multiple.module_code }}</h5>
                <h3>In Use Y/N</h3>
                <h5>*Y/N*</h5>
                <h3>Difficulty</h3>
                <h5>{{ multiple.difficulty }}</h5>
              </div>

              <div id="col2">
                <h3>Correct Answer</h3>
                <h5>{{ multiple.correct }}</h5>
                <h3>Incorrect Answer 1</h3>
                <h5>{{ multiple.incorrect_1 }}</h5>
              </div>

              <div id="col3">
                <h3>Incorrect Answer 2</h3>
                <h5>{{ multiple.incorrect_2 }}</h5>
                <h3>Incorrect Answer 3</h3>
                <h5>{{ multiple.incorrect_3 }}</h5>
              </div>

              <div id="col4">
                <h3>Incorrect Answer Feedback</h3>
                <h5>{{ multiple.feedback }}</h5>
              </div>

              <div id="col5">
                <h3>Add to assessment</h3>
                <label class="checkcontainer">
                  <input type="checkbox" class="checkbx" name="checkbox" value="Multiple {{multiple.id}} {{multiple.feedback}}"
                    id="questionChecker {{multiple.id}}" onclick="questionCheck()" checked>
                  <span class="checkmark"></span>
                </label>
              </div>

            </div>
          </div>

        </div>
        {% endfor %}

        {% for fill in fill_all %}
        <div class="assessment-question">
          <div class="question-preview-head">
            <div id="title">
              <h1>Fill in the Blank Question {{ multiple_all|length + fill.id }}</h1>
            </div>
          </div>

          <div class="question">
            <div id="top">
              <h3>Question</h3>
              <h5 id='question-text'>{{ fill.question }}</h5>
              <h3>Question Type</h3>
              {% if fill.is_summative == 1 %}
              <h5 id='question-type-text' class="question-type">Summative</h5>
              {% else %}
              <h5 id='question-type-text' class="question-type">Formative</h5>
              {% endif %}
            </div>

            <div id="fill-cont">

              <div id="col1">
                <h3>Module</h3>
                <h5 class="module-code">{{ fill.module_code }}</h5>
                <h3>In Use Y/N</h3>
                <h5>*Y/N*</h5>
                <h3>Difficulty</h3>
                <h5>{{ fill.difficulty }}</h5>
              </div>

              <div id="col2">
                <h3>Correct Answer</h3>
                <h5>{{ fill.correct }}</h5>
              </div>

              <div id="col4">
                <h3>Incorrect Answer Feedback</h3>
                <h5>{{ fill.feedback }}</h5>
              </div>

              <div id="col5">
                <h3>Add to assessment</h3>
                <label class="checkcontainer">
                  <input type="checkbox" class="checkbx" name="checkbox" value="Fill {{fill.id}} {{fill.feedback}}"
                    id="questionChecker {{multiple_all|length + fill.id}}" onclick="questionCheck()">
                  <span class="checkmark"></span>
                </label>
              </div>

            </div>
          </div>
        </div>
        {% endfor %}

      </div>

      <div class="foot">
        <h3>Questions Selected</h3>
        <h5 id="question-counter">0 / 3</h5>
        {{form.submit (class="save-btn")}}
        <a id="preview-button" class="button"> Preview </a>
      </div>
    </form>
</div>

</div>

{% endblock content %}