{% extends "layout.html" %}
{% block content %}
<div class="admin-create-formative">
  <div class="Top-dropdown">
    <select class=module-dropdown name="modules">
      <option value="">Select Module</option>
      <option value="Module1">Module 1</option>
      <option value="Module2">Module2</option>
      <option value="Module3">Module3</option>
    </select>

    <select class=assessment-dropdown name="assessments">
      <option value="">Select Assessment Type</option>
      <option value="Module1">Formative</option>
      <option value="Module2">Summative</option>
    </select>
  </div>

  
  <div class="question-preview">
    {% for multiple in multiple_all %}
    <div class="question-preview-head">
      <div id="title">
        <h1>Question Preview</h1>
      </div>

      <div id="type">
        <h1>Question Type</h1>
        <h5>{{ multiple.is_summative }}</h5>
      </div>
    </div>

    <div class="multiple-choice-question">
      <div id="top">
        <h3>Question</h3>
        <h5>{{ multiple.question }}</h5>
      </div>

      <div id="cont">

        <div id="col1">
          <h3>Module</h3>
          <h5>{{ multiple.module_code }}</h5>
          <h3>In Use Y/N</h3>
          <h5>*Y/N*</h5>
          <h3>Difficulty</h3>
          <h5>{{ multiple.difficulty }}</h5>
        </div>

        <div id="col2">
          <h3>Correct Answer</h3>
          <h5>{{ multiple.correct }}</h5>
          <h3>Incorrect Answer 1</h3>
          <h5>{{ multiple.incorrect_1 }}</h5>
        </div>

        <div id="col3">
          <h3>Incorrect Answer 2</h3>
          <h5>{{ multiple.incorrect_2 }}</h5>
          <h3>Incorrect Answer 3</h3>
          <h5>{{ multiple.incorrect_3 }}</h5>
        </div>

        <div id="col4">
          <h3>Incorrect Answer Feedback</h3>
          <h5>{{ multiple.feedback }}</h5>
        </div>

      </div>

    </div>
    {% endfor %}

    <div class="foot">
      <a id="save-button" class="button"> Save </a>
      <a id="preview-button" class="button"> Preview </a>
    </div>

  </div>

</div>


{% endblock content %}