{% extends "layout.html" %}
{% block content %}
<div class="student-view-progress">


<h1 class="title">Registration</h1>
<form method="POST" action="">
  {{ form.csrf_token }}
  <p class="title">{{ form.question.label }} {{ form.question }}</p>
  <p class="title">{{ form.correct.label }} {{ form.correct }}</p>
  <p class="title">{{ form.module_code.label }} {{ form.module_code }}</p>
  <p class="title">{{ form.incorrect_1.label }} {{ form.incorrect_1 }}</p>
  <p class="title">{{ form.incorrect_2.label }} {{ form.incorrect_2 }}</p>
  <p class="title">{{ form.incorrect_3.label }} {{ form.incorrect_3 }}</p>
  <p class="title">{{ form.difficulty.label }} {{ form.difficulty }}</p>
  <p class="title">{{ form.is_summative.label }} {{ form.is_summative }}</p>
  <p class="title">{{ form.feedback.label }} {{ form.feedback }}</p>
  <p class="title">{{ form.submit }}</p>

</form>
</div>
{% endblock content %}
