{% extends "layout.html" %}
{% block content %}
<form class="question-maker-container" method="POST" action="">
    {{form.csrf_token}}
    <div class="top-input-box">
      {{form.assessment_name.label (class = "assessment-label")}}{{form.assessment_name (class = "assessment-input")}}

    </div>
    <div class="bottom-inputs">
      <div class="module-and-formative">
        <div class="module">
          {{form.module_code.label (class = "assessment-label")}}{{form.module_code (class = "assessment-input")}}
          </div>
        <div class="issummative" >
          {{form.is_summative.label (class="assessment-label")}} {{form.is_summative (class = "checkbox")}}
          </div>
      </div>

    <div class="answer-and-difficulty">
      {{form.q1_type.label (class="assessment-label")}} {{form.q1_type (class = "assessment-input")}}
      {{form.q1_id.label (class="assessment-label")}} {{form.q1_id (class = "assessment-input")}}
      {{form.q2_type.label (class="assessment-label")}} {{form.q2_type (class = "assessment-input")}}
      {{form.q2_id.label (class="assessment-label")}} {{form.q2_id (class = "assessment-input")}}
      {{form.q3_type.label (class="assessment-label")}} {{form.q3_type (class = "assessment-input")}}
      {{form.q3_id.label (class="assessment-label")}} {{form.q3_id (class = "assessment-input")}}
      {{form.submit (class="save-btn")}}
    </div>
</div>
</form>

{% endblock content %}