{% extends "layout.html" %}
{% block content %}

<div class="feedback-container">

<div class="feedback-title">
    <div id="feed-title-segs"><h2><strong>Assessment: </strong></h2>&nbsp;<h2> {{attempt.assessment_name}}</h2></div>
    <div id="feed-title-segs"><h2><strong>Your Score: </strong></h2>&nbsp;<h2> {{attempt.percentage_correct|round(2, 'floor')}}% </h2></div>
</div>

<div class="question-feedback">
    <div class="feedback-elements"><b>Q1: </b> {{q1}} </div>
    <div class="feedback-elements"><b>Your Answer: </b> {{attempt.answer_1}} </div>
    <div class="feedback-elements"><b>Correct Answer: </b> {{correct_1}} </div>
    <div class="feedback-elements"><b>Feedback: </b> {{attempt.feedback_1}} </div>
</div>

<div class="question-feedback">
    <div class="feedback-elements"><b>Q2: </b> {{q2}} </div>
    <div class="feedback-elements"><b>Your Answer: </b> {{attempt.answer_2}} </div>
    <div class="feedback-elements"><b>Correct Answer: </b> {{correct_2}} </div>
    <div class="feedback-elements"><b>Feedback: </b> {{attempt.feedback_2}} </div>
</div>

<div class="question-feedback">
    <div class="feedback-elements"><b>Q3: </b> {{q3}} </div>
    <div class="feedback-elements"><b>Your Answer: </b> {{attempt.answer_3}} </div>
    <div class="feedback-elements"><b>Correct Answer: </b> {{correct_3}} </div>
    <div class="feedback-elements"><b>Feedback: </b> {{attempt.feedback_3}} </div>
</div>
</div>

{% endblock content %}