{% extends "layout.html" %} {% block content %}
<form class="question-maker-container-2" method="POST" action="">

    <div class="top-input-box">
      <div class = "question-label">Question</div> <div class = "question-input class-name-that-nobody-is-using">{{fill.question }}</div>

    </div>
    <div class="bottom-inputs">
      <div class="module-and-formative">
        <div class="module">
          <div class = "question-label">Module</div> <div class = "question-input class-name-that-nobody-is-using">{{fill.module_code}}</div>
          </div>
        <div class="issummative-delete" >
          <div class = "question-label">Is Summative?</div> <br><div class = "question-input class-name-that-nobody-is-using">{{fill.is_summative}}</div>
          </div>
      </div>

    <div class="answer-and-difficulty">
      <div class = "question-label">Answer</div> <div class = "question-input class-name-that-nobody-is-using">{{fill.correct }}</div>
      <div class = "question-label">Incorrect Answer Feedback</div> <div class = "question-input class-name-that-nobody-is-using">{{fill.feedback }}</div>
      <div class = "question-label">Difficulty</div> <div class = "question-input class-name-that-nobody-is-using">{{fill.difficulty }}</div>
    </div>
</div>
    <div class="confirm-container">
      {% if Q1==None and Q2==None and Q3==None%}
        {{ form.csrf_token }}
        {{form.confirmDelete.label (class="question-label")}} {{form.confirmDelete }}
        {% for error in form.confirmDelete.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        {{form.submit (class="save-btn")}}
        
      {% else %}
        <p>This question is in use in an assessment and cannot be deleted</p>
      {% endif %}
    </div>

</form>

{%endblock content%}