{% extends "layout.html" %} {% block content %}
{% from "_formhelpers.html" import render_field %}
<form class="question-maker-container-2" method="POST" action="">
    {{form.csrf_token}}
    <div class="top-input-box">
      {{form.question.label (class = "question-label")}}{{form.question (class = "question-input")}}

    </div>
    <div class="bottom-inputs">
      <div class="module-and-formative">
        <div class="module">
          {{form.module_code.label (class = "question-label")}}{{form.module_code (class = "module-input")}}
          </div>
        <div class="issummative" >
          {{form.is_summative.label (class="question-label")}} {{form.is_summative (class = "checkbox")}}
          </div>
      </div>

    <div class="answer-and-difficulty">
      {{form.correct.label (class="question-label")}} {{form.correct (class = "question-input")}}
      {{form.feedback.label (class="question-label")}} {{form.feedback (class = "question-input")}}
      {{form.difficulty.label (class="question-label")}} {{form.difficulty (class = "dropdown-menu-questions")}}
      {{form.submit (class="save-btn")}}
    </div>
</div>
</form>
{% endblock content %}
