{% extends "layout.html" %} {% block content %}
<div class="question-container">
{%for question in questions %}

<div class="question-main">
<div class="question-inner-container">
    <div>Question id: {{question.id}}</div>
<div class="question-question">
<p>Question : {{question.question}} </p>
</div>
<div class="question-answer">
Answer : {{question.correct}} &nbsp;
</div>
</div>
<div class="question-date">
    <div>Created : {{question.date_created.strftime("%x")}}</div>
    <a href="{{ url_for('FillEdit', fill_id=question.id) }}">Edit</a>
    <a href="{{ url_for('DeleteFill', fill_id=question.id)}}">Delete</a> 
</div>
</div>
<br />
<hr />
{%endfor%}
</div>
{% endblock content %}
