{% extends "layout.html" %} {% block content %}
<div class="mainbit">

  <div class="top-part">
    <div class="question-type-dropdown">
      <label class="pagetitle" for="question type">Question Type:</label> &nbsp;
      <select class="dropdown-menu-questions" name="question type">
        <option value="Fill in the Blank">Fill in the Blank</option>
        <option value="Multiple Choice">Multiple Choice</option>
      </select>
    </div>
  </div>

  <form class="question-maker-container" method="POST" action="">
    {{form.csrf_token}}
    <div class="top-input-box">
      {{form.question.label (class = "question-label")}}{{form.question (class = "question-input")}}

    </div>
    <div class="bottom-inputs">
      <div class="module-and-formative">
        <div class="module" >
          {{form.module.label (class = "question-label")}}{{form.module ( class = "module-input")}}
          </div>
        <div class="issummative" >
          {{form.issummative.label (class="question-label")}} {{form.issummative (class = "checkbox")}}
          </div>
      </div>

    <div class="answer-and-difficulty">
      {{form.answer.label (class="question-label")}} {{form.answer (class = "question-input")}}
      {{form.incorrectfeedback.label (class="question-label")}} {{form.incorrectfeedback (class = "question-input")}}
      {{form.difficulty.label (class="question-label")}} {{form.difficulty (class = "dropdown-menu-questions")}}
      {{form.submit (class="save-btn")}}
    </div>
      
    </div>
  </form>
  <div class ="edit-btn-container">
    <a class="button admin-home-btn">Edit/Delete</a>
  </div>
  </div>

{% endblock content %}
