<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Team J AAT</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='style.css')}}"
    />
  </head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />

  <body>
    <div class="header">
      <nav class="navbuttons">
        {% if current_user.is_admin %}
          <a id="homebtn" class="nav-button" href="{{url_for('staffhome')}}">HOME</a>
        {%else%}
          <a id="homebtn" class="nav-button" href="{{url_for('studenthome')}}">HOME</a>
        {%endif%}
      </nav>

      <div class="titleholder">
        <h1 id = "maintitle" class="title">
          
        </h1>
      </div>

      <div class="login">
        {% if current_user.is_authenticated %}
        <p class="greeting">Hello, {{ current_user.first_name }}!</p>
        &nbsp;
        <br />
        <a class="button" href="{{url_for('logout')}}">LOG OUT</a>
        {% else %}
        <p class="greeting">Hello, Guest!</p> &nbsp; &nbsp;
        <br />
        &nbsp;
        <a class="button" href="{{url_for('login')}}">LOG IN </a>
        {% endif %}
      </div>
    </div>
    <br />
    <div class="flash-container">
      {% with messages = get_flashed_messages() %} {% if messages %}
      <div class="flashes">
        {% for message in messages %}
        <p class="flashmsg">{{ message }}</p>
        <span class="close">&times;</span>
        {% endfor %}
      </div>
      {% endif %} {% endwith %}
    </div>
    <div id = "content" class="content">
      
      {% block content %} {% endblock %}
    </div>
  </body>
  <script src = "{{ url_for('static', filename='script/script.js')}}"></script>
</html>
