{% extends "layout.html" %}

{% block content %}
<div class="forms">
  <form method="POST" action="" class="login-register-form-container">
    {{ form.csrf_token }}
    {{ form.email.label (class = 'login-register-form-label')}} {{ form.email (class = 'login-register-form')}}
    {{ form.password.label (class = 'login-register-form-label')}} {{ form.password (class = 'login-register-form')}}
    <br>
    <input class = login-register-form type="submit" value="Login">
  </form>
</div>
{% endblock content %}
