{% extends "layout.html" %}

{% block content %}

<div>
  <form action="">
  	<div id="q1" style="display:block">
      <p> QUESTION 1 </p>
      <p> question type: {{ questions[0]["type"] }}</p>
      <p> question id: {{ questions[0]["id"] }}</p>
      <p> question difficulty: {{ questions[0]["difficulty"] }}</p>
      <p> question module: {{ questions[0]["code"] }}</p>
      {% if questions[0]["type"] == "MLC" %}
        <p> Multiple choice test: </p>
          <input type="radio" id="test1" name="q1MLC" value="test1">
          <label for="test1">test1</label><br>
          <input type="radio" id="test2" name="q1MLC" value="test2">
          <label for="test2">test2</label><br>
          <input type="radio" id="test3" name="q1MLC" value="test3">
          <label for="test3">test3</label><br>
          <input type="radio" id="test4" name="q1MLC" value="test4">
          <label for="test4">test4</label><br>
      {% else %}
        <p> Fill in the blank test: </p>
          <label for="test1">test is:</label>
          <select name="q1Fill" id="test1">
            <option value="test1">test1</option>
            <option value="test2">test2</option>
          </select>
        {% endif %}
        <br>
      <span> <button type="button" name="button" onclick="getq2()">next</button> </span>
    </div>
    <div id="q2" style="display:none">
      <p> QUESTION 2 </p>
      <p> question type: {{ questions[1]["type"] }}</p>
      <p> question id: {{ questions[1]["id"] }}</p>
      <p> question difficulty: {{ questions[1]["difficulty"] }}</p>
      <p> question module: {{ questions[1]["code"] }}</p>
      {% if questions[1]["type"] == "MLC" %}
        <p> Multiple choice test: </p>
          <input type="radio" id="2test1" name="q2MLC" value="test1">
          <label for="2test1">test1</label><br>
          <input type="radio" id="2test2" name="q2MLC" value="test2">
          <label for="2test2">test2</label><br>
          <input type="radio" id="2test3" name="q2MLC" value="test3">
          <label for="2test3">test3</label><br>
          <input type="radio" id="2test4" name="q2MLC" value="test4">
          <label for="2test4">test4</label><br>
      {% else %}
        <p> Fill in the blank test: </p>
          <label for="2test1">test is:</label>
          <select name="q2Fill" id="2test1">
            <option value="test1">test1</option>
            <option value="test2">test2</option>
          </select>
        {% endif %}
        <br>
      <span> <button type="button" name="button" onclick="getq1()">previous</button> </span> <span> <button type="submit" name="submit">submit</button></span>
    </div>
 </form>
</div>
<script type="text/javascript">
function getq2() {
  document.getElementById("q2").style.display = "block";
  document.getElementById("q1").style.display = "none";
}
function getq1() {
  document.getElementById("q1").style.display = "block";
  document.getElementById("q2").style.display = "none";
}
</script>

{% endblock content %}
