{% extends "layout.html" %}

{% block content %}

<div>
  <form action="{{ url_for("randomResults") }}" method="POST">
  	<div id="q1" style="display:block">
      <p> QUESTION 1 </p>
      {% if questions[0] == "MCQ" %}
        <p> Multiple choice test: {{ questions[1].question }} </p>
          <input type="radio" id="test1" name="q1" value="{{ MCQ[0][0] }}">
          <label for="test1">{{ MCQ[0][0] }}</label><br>
          <input type="radio" id="test2" name="q1" value="{{ MCQ[0][1] }}">
          <label for="test2">{{ MCQ[0][1] }}</label><br>
          <input type="radio" id="test3" name="q1" value="{{ MCQ[0][2] }}">
          <label for="test3">{{ MCQ[0][2] }}</label><br>
          <input type="radio" id="test4" name="q1" value="{{ MCQ[0][3] }}">
          <label for="test4">{{ MCQ[0][3] }}</label><br>
      {% else %}
        <p> Fill in the blank test: {{ questions[1].question }} </p>
          <label for="test1">test is:</label>
          <select name="q1" id="test1">
            <option value="{{ questions[1].correct }}">{{ questions[1].correct }}</option>
            <option value="test2">test2</option>
          </select>
        {% endif %}
        <br>
      <span> <button type="button" name="button" onclick="getq2()">next</button> </span>
    </div>
    <div id="q2" style="display:none">
      <p> QUESTION 2 </p>
      {% if questions[2] == "MCQ" %}
        <p> Multiple choice test: {{ questions[3].question }} </p>
          <input type="radio" id="test1" name="q2" value="{{ MCQ[1][0] }}">
          <label for="test1">{{ MCQ[1][0] }}</label><br>
          <input type="radio" id="test2" name="q2" value="{{ MCQ[1][1] }}">
          <label for="test2">{{ MCQ[1][1] }}</label><br>
          <input type="radio" id="test3" name="q2" value="{{ MCQ[1][2] }}">
          <label for="test3">{{ MCQ[1][2] }}</label><br>
          <input type="radio" id="test4" name="q2" value="{{ MCQ[1][3] }}">
          <label for="test4">{{ MCQ[1][3] }}</label><br>
      {% else %}
        <p> Fill in the blank test: {{ questions[3].question }} </p>
          <label for="test1">test is:</label>
          <select name="q2" id="test1">
            <option value="{{ questions[3].correct }}">{{ questions[3].correct }}</option>
            <option value="test2">test2</option>
          </select>
        {% endif %}
        <br>
      <span> <button type="button" name="button" onclick="getq1()">previous</button> </span> <span> <button type="button" name="button" onclick="getq3()">next</button></span>
    </div>
    <div id="q3" style="display:none">
      <p> QUESTION 3 </p>
      {% if questions[4] == "MCQ" %}
        <p> Multiple choice test: {{ questions[5].question }} </p>
          <input type="radio" id="test1" name="q3" value="{{ MCQ[2][0] }}">
          <label for="test1">{{ MCQ[2][0] }}</label><br>
          <input type="radio" id="test2" name="q3" value="{{ MCQ[2][1] }}">
          <label for="test2">{{ MCQ[2][1] }}</label><br>
          <input type="radio" id="test3" name="q3" value="{{ MCQ[2][2] }}">
          <label for="test3">{{ MCQ[2][2] }}</label><br>
          <input type="radio" id="test4" name="q3" value="{{ MCQ[2][3] }}">
          <label for="test4">{{ MCQ[2][3] }}</label><br>
      {% else %}
        <p> Fill in the blank test: {{ questions[5].question }} </p>
          <label for="test1">test is:</label>
          <select name="q3" id="test1">
            <option value="{{ questions[5].correct }}">{{ questions[5].correct }}</option>
            <option value="test2">test2</option>
          </select>
        {% endif %}
        <br>
      <span> <button type="button" name="button" onclick="getq2()">previous</button> </span> <span> <button type="submit" name="submit">submit</button></span>
    </div>
 </form>
</div>
<script type="text/javascript">
function getq2() {
  document.getElementById("q2").style.display = "block";
  document.getElementById("q1").style.display = "none";
  document.getElementById("q3").style.display = "none";
}
function getq1() {
  document.getElementById("q1").style.display = "block";
  document.getElementById("q2").style.display = "none";
  document.getElementById("q3").style.display = "none";
}
function getq3() {
  document.getElementById("q3").style.display = "block";
  document.getElementById("q2").style.display = "none";
  document.getElementById("q1").style.display = "none";
}
</script>

{% endblock content %}
