{% extends "layout.html" %} {% block content %}

<div class = "student-home-main">
<div class = "progressbtn-container">
  <a class="button" href="{{url_for('studentViewProgress')}}">Statistics</a> &nbsp;
  <a class="button" href="{{url_for('viewfeedbacklist', attempt_id=attempt_id)}}">Feedback</a>
  </form> 
</div>

<div class="active-assessments">
  <div class="active-assessments-title-container">
    <h1>Active Assessments / Practice</h1>
    <a class="button student-home-btn" href="{{url_for('generateQuiz')}}">Generate Practice Quiz</a>
  </div>
  <div class = formative-summative-container>
    <div class="formative-summative">
      <h2>Summative</h2>
      <hr>
    {% for assessment in assessment_all %}
      {% if assessment.is_summative == True %}
        <ul><a href=" {{ url_for('testassess', assessment_id=assessment.id )}} "> {{ assessment.assessment_name }} </a></ul>
        
        {% endif %}
    {% endfor %}
    </div>
    <br>
    <div class="formative-summative">
      <h2>Formative</h2>
      <hr>
    {% for assessment in assessment_all %}
      {% if assessment.is_summative == False %}
      <ul><a href=" {{ url_for('testassess', assessment_id=assessment.id )}} "> {{ assessment.assessment_name }} </a></ul>
        <br>
        {% endif %}
    {% endfor %}
    </div>
    <br>
  </div>
</div>
</div>
{% endblock content %}
