{% extends "layout.html" %} {% block content %}
<div class = module-sidebar>
    modules
</div>

<div class = student-home-main>
<div class = progressbtn-container>
  <a class="button" href="{{url_for('studentViewProgress')}}">View Progress</a>
  <form method = 'POST' action=''>
  <input class="button" type = submit name = "test" value = "dosomething">
  </form>
</div>

<div class="active-assessments">
  <div class="active-assessments-title-container">
    <h1>Active Assessments / Practice</h1>
    <a class="button student-home-btn" href="{{ url_for("generateQuiz") }}">Generate Practice Quiz</a>
  </div>
  <div class = formative-summative-container>
    <div class="formative-summative">formative</div>
    <div class="formative-summative">summative</div>
  </div>
</div>
</div>
{% endblock content %}
