{% extends "layout.html" %}
{% block content %}
<div class="testassess">
    <div class="question-preview"></div>
    <div class="question-preview-head">
        <div id="title">
            <h1>Assessment Name: {{ assessment.assessment_name }} &nbsp; Module Code: {{ assessment.module_code }}</h1>
        </div>
    </div>
    <div class="admin-create-summative">
    <div id="title">
        <h1>Question 1</h1>
        {% set randomQ = [q1, q2, q3] %}
        {% set assessRef = [assessment.q1_type, assessment.q2_type, assessment.q3_type] %}
        {% set ran = range(0 , 3) | random %}
    </div>
    <div class="question">
        <div id="top">
            <h5 id='question-text'> {{ randomQ[ran].question }} 
                <form method="POST" action="">
                    {{ form.csrf_token }}
    
                    {% if assessRef[ran] == 'Multiple' %}
                    
                    {% set randomiser = [randomQ[ran].correct, randomQ[ran].incorrect_1, randomQ[ran].incorrect_2, randomQ[ran].incorrect_3] %}
                    {% set ran = range(0 , 4) | random %}
                    <input type="radio" name="answer_1_multi" id="option1" value="{{ randomiser[ran] }}"> 
                    {{ randomiser[ran] }}</input><br>
                    {% set temp = randomiser.pop(ran) %}
                    
                    {% set ran = range(0, 3) | random %}
                    <input type="radio" name="answer_1_multi" id="option2" value="{{ randomiser[ran] }}"> 
                    {{ randomiser[ran] }}</input><br>
                    {% set temp = randomiser.pop(ran) %}
                    
                    {% set ran = range(0, 2) | random %}
                    <input type="radio" name="answer_1_multi" id="option3" value="{{ randomiser[ran] }}"> 
                    {{ randomiser[ran] }}</input><br>
                    {% set temp = randomiser.pop(ran) %}
                    
                    {% set ran = 0 %}
                    <input type="radio" name="answer_1_multi" id="option4" value="{{ randomiser[ran] }}"> 
                    {{ randomiser[ran] }}</input><br>
    
                    {% else %}
    
                    {{ form.answer_1_fill (class = "answer-input") }}
    
                    {% endif %}
    
                </form>
                {% set temp = randomQ.pop(ran) %}
                {% set temp = assessRef.pop(ran) %}
            </h5>

        </div>

    </div>

    <div id="title">
        <h1>Question 2</h1>
        {% set ran = range(0 , 2) | random %}
    </div>
    <div class="question">
        <div id="top">
            <h5 id='question-text'> {{ randomQ[ran].question }} 
                <form method="POST" action="">
                    {{ form.csrf_token }}
    
                    {% if assessRef[ran] == 'Multiple' %}
                    
                    {% set randomiser = [randomQ[ran].correct, randomQ[ran].incorrect_1, randomQ[ran].incorrect_2, randomQ[ran].incorrect_3] %}
                    {% set ran = range(0 , 4) | random %}
                    <input type="radio" name="answer_1_multi" id="option1" value="{{ randomiser[ran] }}"> 
                    {{ randomiser[ran] }}</input><br>
                    {% set temp = randomiser.pop(ran) %}
                    
                    {% set ran = range(0, 3) | random %}
                    <input type="radio" name="answer_1_multi" id="option2" value="{{ randomiser[ran] }}"> 
                    {{ randomiser[ran] }}</input><br>
                    {% set temp = randomiser.pop(ran) %}
                    
                    {% set ran = range(0, 2) | random %}
                    <input type="radio" name="answer_1_multi" id="option3" value="{{ randomiser[ran] }}"> 
                    {{ randomiser[ran] }}</input><br>
                    {% set temp = randomiser.pop(ran) %}
                    
                    {% set ran = 0 %}
                    <input type="radio" name="answer_1_multi" id="option4" value="{{ randomiser[ran] }}"> 
                    {{ randomiser[ran] }}</input><br>
    
                    {% else %}
    
                    {{ form.answer_1_fill (class = "answer-input") }}
    
                    {% endif %}
    
                </form>
                {% set temp = randomQ.pop(ran) %}
                {% set temp = assessRef.pop(ran) %}
            </h5>

        </div>
        </div>
    </div>

    <div id="title">
        <h1>Question 3</h1>
        {% set ran = 0 %}
    </div>
    <div class="question">
        <div id="top">
            <h5 id='question-text'> {{ randomQ[ran].question }} 
                <form method="POST" action="">
                    {{ form.csrf_token }}
    
                    {% if assessRef[ran] == 'Multiple' %}
                    
                    {% set randomiser = [randomQ[ran].correct, randomQ[ran].incorrect_1, randomQ[ran].incorrect_2, randomQ[ran].incorrect_3] %}
                    {% set ran = range(0 , 4) | random %}
                    <input type="radio" name="answer_1_multi" id="option1" value="{{ randomiser[ran] }}"> 
                    {{ randomiser[ran] }}</input><br>
                    {% set temp = randomiser.pop(ran) %}
                    
                    {% set ran = range(0, 3) | random %}
                    <input type="radio" name="answer_1_multi" id="option2" value="{{ randomiser[ran] }}"> 
                    {{ randomiser[ran] }}</input><br>
                    {% set temp = randomiser.pop(ran) %}
                    
                    {% set ran = range(0, 2) | random %}
                    <input type="radio" name="answer_1_multi" id="option3" value="{{ randomiser[ran] }}"> 
                    {{ randomiser[ran] }}</input><br>
                    {% set temp = randomiser.pop(ran) %}
                    
                    {% set ran = 0 %}
                    <input type="radio" name="answer_1_multi" id="option4" value="{{ randomiser[ran] }}"> 
                    {{ randomiser[ran] }}</input><br>
    
                    {% else %}
    
                    {{ form.answer_1_fill (class = "answer-input") }}
    
                    {% endif %}
    
                </form>
                {% set temp = randomQ.pop(ran) %}
                {% set temp = assessRef.pop(ran) %}</h5>

        </div>
    </div>
    <h5>{{form.submit (class="save-assess-btn")}}</h5>
</div>
</div>


</div>
{% endblock content %}