{% extends "layout.html" %}
{% block content %}
<div class="testassess">
    <div class="question-preview"></div>
    <div class="question-preview-head">
        <div id="title">
            <h1>Assessment Name: {{ assessment.assessment_name }} &nbsp; Module Code: {{ assessment.module_code }}</h1>
        </div>
    </div>
    <div class="admin-create-summative">
    <div id="title">
        <h1>Question 1</h1>
    </div>

    <form method="POST" action="">
        {{ form.csrf_token }}
    <div class="question">
        <div id="top">
            <h5 id='question-text'> {{ q1 }} <br>
                
    
                    {% if assessment.q1_type == 'Multiple' %}
                    
                    {% set randomiser = [q1_multi.correct, q1_multi.incorrect_1, q1_multi.incorrect_2, q1_multi.incorrect_3] %}
                    {% set ran = range(0 , 4) | random %}
                    <input type="radio" name="answer_1_multi" id="option1" value="{{ randomiser[ran] }}" required> 
                    {{ randomiser[ran] }}</input><br>
                    {% set temp = randomiser.pop(ran) %}
                    
                    {% set ran = range(0, 3) | random %}
                    <input type="radio" name="answer_1_multi" id="option2" value="{{ randomiser[ran] }}"> 
                    {{ randomiser[ran] }}</input><br>
                    {% set temp = randomiser.pop(ran) %}
                    
                    {% set ran = range(0, 2) | random %}
                    <input type="radio" name="answer_1_multi" id="option3" value="{{ randomiser[ran] }}"> 
                    {{ randomiser[ran] }}</input><br>
                    {% set temp = randomiser.pop(ran) %}
                    
                    {% set ran = 0 %}
                    <input type="radio" name="answer_1_multi" id="option4" value="{{ randomiser[ran] }}"> 
                    {{ randomiser[ran] }}</input><br>
    
                    {% else %}
    
                    {{ form.answer_1_fill (class = "answer-input", required = True) }}
    
                    {% endif %}
    
                
            </h5>

        </div>

    </div>

    <div id="title">
        <h1>Question 2</h1>
    </div>
    <div class="question">
        <div id="top">
            <h5 id='question-text'> {{ q2 }} <br>
               
    
                    {% if assessment.q2_type == 'Multiple' %}
                    
                    {% set randomiser = [q2_multi.correct, q2_multi.incorrect_1, q2_multi.incorrect_2, q2_multi.incorrect_3] %}
                    {% set ran = range(0 , 4) | random %}
                    <input type="radio" name="answer_2_multi" id="option1" value="{{ randomiser[ran] }}" required> 
                    {{ randomiser[ran] }}</input><br>
                    {% set temp = randomiser.pop(ran) %}
                    
                    {% set ran = range(0, 3) | random %}
                    <input type="radio" name="answer_2_multi" id="option2" value="{{ randomiser[ran] }}"> 
                    {{ randomiser[ran] }}</input><br>
                    {% set temp = randomiser.pop(ran) %}
                    
                    {% set ran = range(0, 2) | random %}
                    <input type="radio" name="answer_2_multi" id="option3" value="{{ randomiser[ran] }}"> 
                    {{ randomiser[ran] }}</input><br>
                    {% set temp = randomiser.pop(ran) %}
                    
                    {% set ran = 0 %}
                    <input type="radio" name="answer_2_multi" id="option4" value="{{ randomiser[ran] }}"> 
                    {{ randomiser[ran] }}</input><br>
    
                    {% else %}
    
                    {{ form.answer_2_fill (class = "answer-input", required = True) }}
    
                    {% endif %}
    
                
            </h5>

        </div>
        </div>
    </div>

    <div id="title">
        <h1>Question 3</h1>
    </div>
    <div class="question">
        <div id="top">
            <h5 id='question-text'> {{ q3 }} <br>
                
    
                    {% if assessment.q3_type == 'Multiple' %}
                    
                    {% set randomiser = [q3_multi.correct, q3_multi.incorrect_1, q3_multi.incorrect_2, q3_multi.incorrect_3] %}
                    {% set ran = range(0 , 4) | random %}
                    <input type="radio" name="answer_3_multi" id="option1" value="{{ randomiser[ran] }}" required> 
                    {{ randomiser[ran] }}</input><br>
                    {% set temp = randomiser.pop(ran) %}
                    
                    {% set ran = range(0, 3) | random %}
                    <input type="radio" name="answer_3_multi" id="option2" value="{{ randomiser[ran] }}"> 
                    {{ randomiser[ran] }}</input><br>
                    {% set temp = randomiser.pop(ran) %}
                    
                    {% set ran = range(0, 2) | random %}
                    <input type="radio" name="answer_3_multi" id="option3" value="{{ randomiser[ran] }}"> 
                    {{ randomiser[ran] }}</input><br>
                    {% set temp = randomiser.pop(ran) %}
                    
                    {% set ran = 0 %}
                    <input type="radio" name="answer_3_multi" id="option4" value="{{ randomiser[ran] }}" > 
                    {{ randomiser[ran] }}</input><br>
    
                    {% else %}
    
                    {{ form.answer_3_fill (class = "answer-input", required = True) }}
    
                    {% endif %}
    
                </h5>

        </div>
    </div>
    <h5>{{form.submit (class="save-assess-btn")}}</h5>
</form>
</div>
</div>


</div>
{% endblock content %}