{% extends "layout.html" %}
{% block content %}
<div class="student-view-progress">
</div>
    <div class="container" style="padding-top: 150px;padding-left: 200px">
        <div>
            <a class="button">Student Information</a>
                <div class="content-section" style="border: 2px solid;border-radius: 3px;position: fixed; left: 390px; top: 400px">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-light" style="padding-top: 23px; padding-bottom: 23px"><a href="\View-Student-Number">Student number</a></li>
                        <li class="list-group-item list-group-item-light" style="padding-top: 22px; padding-bottom: 22px"><a href="\View-Student-List">Student list</a></li>
                        <li class="list-group-item list-group-item-light" style="padding-top: 23px; padding-bottom: 23px"><a href="\Search-Student">Search Student</a></li>
                    </ul>
                </div>
        </div>
    </div>



    <div class="container" style="padding-left: 200px; padding-top: 150px">
        <div>
            <a class="button">Student Attainment</a>
            <div class="content-section" style="border: 2px solid;border-radius: 3px;position: fixed; left: 815px; top: 400px">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light" style="padding-top: 23px; padding-bottom: 23px"><a href="\students_desc">Module: Fruit123</a></li>
                    <li class="list-group-item list-group-item-light" style="padding-top: 22px; padding-bottom: 22px"><a href="\students_list">Module: Biology123</a></li>
                    <li class="list-group-item list-group-item-light" style="padding-top: 23px; padding-bottom: 23px"><a href="\students_info">Module: Maths123</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container" style="padding-left: 200px; padding-top: 150px">
        <div>
            <a class="button">Student Engagement</a>
            <div class="content-section" style="border: 2px solid;border-radius: 3px;position: fixed; left: 1235px; top: 400px">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light" style="padding-top: 39px; padding-bottom: 39px"><a href="\students_desc">Student Attempts</a></li>
                    <li class="list-group-item list-group-item-light" style="padding-top: 39px; padding-bottom: 39px"><a href="\students_list">Assessment Process</a></li>
                </ul>
            </div>
        </div>
    </div>

{% endblock content %}