{% extends "layout.html" %}
{% block content %}
<div class="student-view-progress">
</div>

    <div class="container" style="position:fixed; top: 250px; left: 800px">
            <a class="button">Search a student</a>
    </div>

    <div class="divspan" style="width: 500px; position:fixed; top: 400px; left: 790px">
        <form class="navbar-form navbar-left" method="post" action="/Search-Student">
            <span class="form-group" >
                <input name="search_stuNo_input" type="text" class="form-control" placeholder="Student ID" style="width: 200px; height: 30px">
            </span>
            <span><button style="width: 60px; height: 35px" type="submit" class="btn btn-default">Search</button></span>
        </form>
    </div>

    <div class="container" style="position:fixed; top: 550px; left: 810px">
        <a class="button">Student list</a>
    </div>
        <a href="/View-Student-List" style="position:fixed; top: 650px; left: 830px">View student list</a>


{% endblock content %}